
.dropdown-select {
    position: relative;
    z-index: 2000;
    width: 150px;
  
    .trigger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      background: transparent;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
      padding: 7px 14px 0px;
      width: 140px;
    
      img {
        filter: var(--svg-filter-white-color);
      }
    }
  
    .body {
      position: absolute;
      cursor: pointer;
      background: var(--dark-grey-color);
      border-bottom: 1px solid var(--black-color);
      border-right: 1px solid var(--black-color);
      border-left: 1px solid var(--black-color);
      width: 140px;
    }
  
    &.open {
      .trigger {
        background: var(--dark-grey-color);
        border-radius: 4px 4px 0 0;
        border-top: 1px solid var(--color-border);
        border-right: 1px solid var(--color-border);
        border-left: 1px solid var(--color-border);
        padding: 7px 14px 0px;
        width: 140px;
      }
      .select-box {
        width: 104px;
        padding-left: 14px;
        margin-bottom: 7px;
        p {
            &:hover {
                color: var(--primary-color);
            }
        }
        &:first-child {
            margin-top: 7px;
        }
    }
  
      .body {
        border-radius: 0 0 4px 4px;
        border-right: 1px solid var(--color-border);
        border-left: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
      }
  
      img {
        transform: rotate(180deg);
      }
    }
  }